<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

</head>
<body>

  <app-student-navbar></app-student-navbar> 

<div class="testbox">
    <form (submit)="submitForm()">
      <div class="banner">
        <h3>Create Complain</h3>
      </div>

      <label for="c_itemcode">QR Code:<span>*</span></label>
      <input type="file" id="c_itemcode" name="c_itemcode" (change)="onFileSelected($event)" accept="image/*">

        <div class="item">
          <label for="user_index">Index_No<span></span></label>
          <input id="user_index" type="text" name="user_index" [value]="userData.user_index" [(ngModel)]="complain.user_index" readonly >
        </div>

        <div class="item">

            <label for="fname">First Name<span></span></label>
            <input id="fname" type="text" [value]="userData.fname" name="fname" [(ngModel)]="complain.fname" readonly >

            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="fname"  [(ngModel)]="complain.fname"required />

          </div>

          <div class="item">

            <label for="lname">Last Name<span></span></label>
            <input id="lname" type="text" [value]="userData.lname"  name="lname" [(ngModel)]="complain.lname" readonly >

            <label for="lname">Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname"   [(ngModel)]="complain.lname" required/>

          </div>

        <div class="item">
            <label for="c_description">Complain Description<span>*</span></label>
            <textarea row="4" id="c_description" type="text" name="c_description"  [(ngModel)]="complain.c_description"></textarea>
          </div>

          <div class="item">
            <label for="c_image">Complain Image<span>*</span></label>
            <input id="c_image" type="file" name="c_image"  [(ngModel)]="complain.c_image" required/>
          </div>

        <div class="item">

          <label for="room">Room No<span></span></label>
          <input id="room" type="text" name="room" [value]="userData.room" [(ngModel)]="complain.room"  readonly>

          <label for="room">Room No<span>*</span></label>
          <input id="room" type="text" name="room"  [(ngModel)]="complain.room" required/>

        </div>

        <div class="item">
          <label for="hostaltype">Hostal Type<span></span></label>
          <input id="hostaltype" type="text" name="hostaltype" [value]="userData.hostaltype" [(ngModel)]="complain.hostaltype" readonly>
        </div>

      <div class="btn-block">
      
       <button type="submit" >SUBMIT</button>
      </div>
    </form>
  </div>
  </body>
  </html>