<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  


</head>
<body>

  <app-admin-navbar></app-admin-navbar> 
   
  
<div class="container">
  <div class="card-body">
      <h6>Available Users: <span class="float-end"><b>{{ userCount?.toString() }}</b></span></h6>
  </div>
  <div class="row">
      <!-- Left side -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h6>STAFF</h6>
              </div>
              <app-admin-users-staff></app-admin-users-staff>
          </div>
      </div>

      <!-- Right side -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h6>STUDENTS</h6>
              </div>
              <app-admin-users-student></app-admin-users-student>
          </div>
      </div>
  </div>
</div>
               
</body>
</html>