<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  


</head>
<body>
 
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  


</head>
<body>

    <div class="container">

                <div class="card-body">
                    <h6>Complains: <span class="float-end"></span></h6>
                </div>

                <!-- complain tables -->
       

                   
                      <table id="tab" class="table table-striped table-bordered">
                      <thead>
                      <tr>
                      <th scope="col">Complain Id</th>
                      <th scope="col">Index</th>
                      <th scope="col">Item Code</th>
                      <th scope="col">Description</th>
                      <!-- <th scope="col">Image</th> -->
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Hostal</th>
                      <th scope="col">Room</th>
                      <th scope="col">Status</th>
                      <th scope="col">Created Date</th>
                      <th scope="col">Accepted Date</th>
                    
                      </tr>
                      </thead>
                      <tbody>
                        <tr scope="row" *ngFor="let combined of combinedData | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{ combined.c_id }}</td>
                            <td>{{ combined.user_index }}</td>
                            <td>{{ combined.c_itemcode }}</td>
                            <td>{{ combined.c_description }}</td>
                            <td>{{ combined.fname }}</td>
                            <td>{{ combined.lname }}</td>
                            <td>{{ combined.hostaltype }}</td>
                            <td>{{ combined.room }}</td>
                            <td style="color:green;">{{ combined.status }}</td>
                            <td>{{ formatDate(combined.createdAt) }}</td>
                            <td>{{ formatDate(combined.createdAtCopy) }}</td>
                          </tr>
                      </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
               
</body>
</html>
               
</body>
</html>