.navbar-nav li {
    color: aliceblue;
    text-decoration: none;
    user-select: none;
   
}

.navbar-nav li a{
    font-weight: bolder;
    color: #484545;
    text-decoration: none;
    outline: none;

}

.navbar-nav li a::after{
    text-decoration: none;  
}

.custom-button {
    background-color: #FFB64D;
  }

  .logout-button {

    text-align: center;

    padding: 6px;
    border-radius: 8px;
    background-color: rgb(247, 88, 88);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .navbar{
    box-shadow: 0px 2px 4px ;
}

.btn{
  margin-top: 12px;
}

h4{
  color: #484545;
  border-style:ridge;
}