
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h4 style="margin-top: 30px;">R.HMS STUDENT BOARD</h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">

        <a class="navbar-brand"><img src="../../assets/hms_2.png" style="height: 15%; width: 15%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item active"><a href="../hms-students/" class="nav-link " >DASHBOARD</a></li>
            <li class="nav-item"><a href="../registration" class="nav-link" >Your Complains</a></li>
            <li class="nav-item"><a href="../student-addcomplain" class="nav-link" >Create Complains</a></li>
            <li class="nav-item"><a href="../staff-registeration" class="nav-link" >Property Info</a></li>
            <li class="nav-item"><a href="#" class="nav-link" >Profile</a></li>
      <li><a class="dropdown-item logout-button" href="#" (click)="onLogout()">Logout</a></li>
          <li class="dropdown nav-item d-md-flex align-items-center">
   
      </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
  </div>
