
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h4 style="margin-top: 30px;">R.HMS ADMIN BOARD</h4>
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">

		    	<a class="navbar-brand"><img src="../../assets/hms_2.png" style="height: 15%; width: 15%;"></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item active"><a href="../hms-admin" class="nav-link " style="font-size: medium;">DASHBOARD</a></li>
		        	<li class="nav-item"><a href="../registration" class="nav-link" style="font-size: medium;">Student Register</a></li>
					<li class="nav-item"><a href="../staff-registeration" class="nav-link" style="font-size: medium;">Staff Register</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link" style="font-size: medium;">Update</a></li>
              <li class="nav-item"><a href="#" class="nav-link" style="font-size: medium;">Hostal</a></li>
              <li class="nav-item"><a href="#" class="nav-link" style="font-size: medium;">Warden</a></li>
		          <li class="dropdown nav-item d-md-flex align-items-center">
           
              </li>
		        </ul>
		      </div>
		    </div>
		  </nav>
    		<!-- END nav -->
  		</div>
