.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table .datatable-header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .custom-table .datatable-row {
    background-color: #ffffff;
  }
  
  .custom-table .datatable-header,
  .custom-table .datatable-row,
  .custom-table .datatable-footer {
    border: 1px solid #ccc;
  }
  
  .custom-table .datatable-header-cell,
  .custom-table .datatable-body-cell,
  .custom-table .datatable-footer-cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8px;
  }
  
  .custom-table .datatable-header-cell:last-child,
  .custom-table .datatable-body-cell:last-child,
  .custom-table .datatable-footer-cell:last-child {
    border-right: none;
  }